<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Revolta BV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <h1>Revolta BV</h1>
    <a href="{{ url_for('klanten') }}">Klanten</a><br>
    <a href="{{ url_for('leveranciers') }}">Leveranciers</a><br>
    <a href="{{ url_for('facturen') }}">Facturen</a><br>
    <a href="{{ url_for('bestelbons') }}">Bestelbons</a><br>
    <a href="{{ url_for('leverbons') }}">Leverbons</a><br>
    <a href="{{ url_for('orders') }}">Orders</a><br>
    <a href="{{ url_for('werkbons') }}">Werkbons</a>
</html>
