<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Revolta BV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <h1>Revolta BV</h1>
    <a href="{{ url_for('Klanten') }}">Klanten</a><br>
    <a href="{{ url_for('Leveranciers') }}">Leveranciers</a><br>
    <a href="{{ url_for('Facturen') }}">Facturen</a><br>
    <a href="{{ url_for('Bestelbons') }}">Bestelbons</a><br>
    <a href="{{ url_for('Leverbons') }}">Leverbons</a><br>
    <a href="{{ url_for('Orders') }}">Orders</a><br>
    <a href="{{ url_for('Werkbons') }}">Werkbons</a>

</html>
